.popup__button-save {
  background-color: #000;
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 48px;
  min-height: 50px;
  padding: 0;
  border: 0;
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 520px) {
  .popup__button-save {
    line-height: 17px;
    font-size: 14px;
    margin-top: 46px;
    min-height: 45px;
  }
}

.popup__button-save:hover {
  opacity: 0.8;
  transition: 0.8s;
}
