.popup__user-info-container {
  width: 430px;
  min-height: 330px;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 520px) {
  .popup__user-info-container {
    width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}
