.popup__container_photo {
  /* min-width: 430px; */
  /* max-width: 75vw;
  max-height: 75vh; */
  border-radius: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  box-shadow: none;
}
